body{
    background-color: #607d8b;
}

.titulo{
    background-color: #455a54;
}

h3{
    color:#fff;
    display:grid;
    place-items: center;
}

.palabra{
    position: absolute;
    top: 20%;
    right: 80%;
}

.palabra1{
    position:absolute;
    top: 40%;
    right: 80%;
}

.tex{
    position:absolute;
    top: 20%;
    left: 30%;
    height: 20px;
    border-radius: 5px;
}

.tex1{
    position: absolute;
    top: 40%;
    left: 30%;
    height: 60px;
    width: 500px;
    border-radius: 5px;
}

.b1{
    position: absolute;
    top: 65%;
    left: 350px;
    width: 100px;
    border-radius: 3px;
}

.b1:hover{
    color: #fff;
    background-color: #000;
}

.b2{
    position: absolute;
    top: 65%;
    left: 500px;
    width: 100px;
    border-radius: 3px;
}

.b2:hover{
    color: #fff;
    background-color: #000;
}

.b3{
    position: absolute;
    top: 65%;
    left: 650px;
    width: 100px;
    border-radius: 3px;
}

.b3:hover{
    color: #fff;
    background-color: #000;
}

.b4{
    position: absolute;
    top: 65%;
    left: 800px;
    width: 100px;
    border-radius: 3px;
}

.b4:hover{
    color: #fff;
    background-color: #000;
}

.b5{
    position: absolute;
    bottom: 195px;
    left: 950px;
    width: 100px;
    border-radius: 3px;
}

.b5:hover{
    color: #fff;
    background-color: #000;
}


/*Mensajes de confirmacion al hacer clic en los botones*/

.alerta{
    background-color: #76bd5a;
    color: #000;
    width: 230px;
    height: 70px;
    border-radius: 7px;
    text-align: center;
    place-items: center;
    border: 1px solid #000;
    position: absolute;
    left: 77%;
}

.cerrar{
    color:#000;
    background-color: #76bd5a;
    position: absolute;
    bottom:2%;
    right: 37%;
    border-radius: 0.5px;
}