body{
    background-color: #00796B;
}

.loging{
    /*centrar un div*/
    display:grid;
    place-items: center;
    height: 450px;
    width: 1350px;
    position: relative;
    top: 80px;
    background-color: #B2DFDB;
    animation-duration: 1.2s; /*tiempo de duracion de la animacion*/
    animation-name:loging; /*nombre de la animacion*/
}

@keyframes loging{
    from{
        margin-top: 100%; /*hacemos que la animacion salga de abajo hacia arriba */
        width:5%;
    }
}

/* Es el texto de usuario y password*/
label{
    display: block;
    position: relative;
    bottom: 20px;
    right: 120px;
}

/* el input el cuadro de texto se determina la posicion y el tamño de cuadro*/
input{
    margin: 1,rem 0.5; /*se determina el margen del cuadro de texto*/
    color: #faf0e6;
    position: relative;
    left: 40px;
    bottom: 60px;
    border-radius: 2px;
}

.ayuda{
    color: #00008b;
    position: relative;
    bottom: 70px;
    right: 25px;
}

.boton{
    height: 30px;
    width: 300px;
    position: relative;
    right: 25px;
    bottom:45px;
    background-color: #e9967a;
}

.boton:hover{
    background-color: #2f4f4f; 
    color: #ffffff;
}

.condiciones{ 
    color: #000000;
    position: relative;
    right: 20px;
}

.condiciones:link{
    color: #000000;
}

.condiciones:visited{
    color: #da70d6;
}

.condiciones:hover{
    color: #da70d6;
}

.barra{
    display: grid; /*centramos el div*/
    place-items:center;
    background-color: #1313ecda;
    color: #ffffff;
    height: 40px;
    width: 250px;
    position: relative;
    left: 1100px;
    bottom: 460px;
}